<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAq9ymnnbb1ptMwL_MZpmhQkMzHwpASm1s</string>
	<key>GCM_SENDER_ID</key>
	<string>317818174779</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.transmaacode</string>
	<key>PROJECT_ID</key>
	<string>transmaa-9fa8e</string>
	<key>STORAGE_BUCKET</key>
	<string>transmaa-9fa8e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:317818174779:ios:db58f3e067f30a97660b1e</string>
</dict>
</plist>